/* START of CSS variables */
:root {
	--gray: gray;
	/*--rm-gray: #444444;*/
	/*--red: red;*/
	--drop-shadow-size: .5rem;
	--drop-shadow-color: #181818;
}
/* END of CSS Variables */

/* NOTE: Use rem for sizes of fonts after html font-size is set. */
html {
  font-size: 16px;
}

* {
	border-radius: 0 !important;
	/*font-family: 'Questrial', sans-serif;*/
}

p {
	display: inline-block;
}

header {
	color: white;
	background-color: black;
	margin-bottom: 2rem;
}

footer {
	color: gray;
	font-size: 0.75rem;
  position: fixed;
  bottom: 0;
  padding-top: 10px;
  width: 100%;
  height: 2.25rem;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	font-size: 1.5rem;
}

a:-webkit-any-link {
	text-decoration: none;
}

p[data-toggle="wrong"] {
	color: red;
}

p[data-toggle="correct"] {
	opacity: 0;
}

p[data-toggle="inactive"] {
	color: black;
}

.letterbank, .guess-area {
	letter-spacing: 0.2rem;
}

.background-image {
	background-image: url("../images/random_grey_variations.png");
	position: fixed;
	z-index: -99;
	background-repeat: repeat;
	background-size: 400px;
	width: 100%;
	height: 100%;
	border-color: black;
}

/*All Themes Styling*/

#theme-list {
  margin-top: 15%;
}

#themes-header {
	background-color: gray;
}

/*Videogames Styling*/
#videogames-theme {
	font-family: 'Press Start 2P', cursive;
	font-size: 2rem;
	background-color: green;
	color: white;
	margin-bottom: 1.15rem;
}

#videogames-header, .panel-default>.vg-panel-hdr {
	font-family: 'Press Start 2P', cursive;
	background-color: green;
	color: white;
}

/*Fantasy Styling*/
#fantasy-theme {
	font-family: 'Almendra', serif;
	font-size: 2rem;
	background-color: blue;
	color: lightgray;
	margin-bottom: 1.15rem;
}

#fantasy-header, .panel-default>.fantasy-panel-hdr {
	font-family: 'Almendra', serif;
	background-color: blue;
	color: lightgray;
}

/*SciFi Styling*/
#scifi-theme {
	font-family: 'Orbitron', sans-serif;
	font-size: 2rem;
	background-color: black;
	color: white;
	margin-bottom: 1.15rem;
}

#scifi-header, .panel-default>.scifi-panel-hdr {
	font-family: 'Orbitron', sans-serif;
	background-color: black;
	color: white;
}

/* Bootstrap customizations*/
.list-group-item{
	border: 1px solid gray;
}

/* Media Queries Section */
@media only screen and (max-width: 1199px) {

}
