/* START of CSS variables */
:root {
	--gray: gray;
	/*--rm-gray: #444444;*/
	/*--red: red;*/
	--drop-shadow-size: .5rem;
	--drop-shadow-color: #181818;
}
/* END of CSS Variables */

/* NOTE: Use rem for sizes of fonts after html font-size is set. */
html {
  font-size: 16px;
}

* {
	border-radius: 0 !important;
	/*font-family: 'Questrial', sans-serif;*/
}

ul {
	list-style: none;
}

/*TODO: Remove when functioning*/
span[data-toggle="wrong"] {
	color: red;
}

span[data-toggle="correct"] {
	opacity: 0;
}

span[data-toggle="inactive"] {
	color: black;
}

.letterbank, .guess-area {
	letter-spacing: 0.2rem;
}

.background-image {
	position: fixed;
	z-index: -99;

}

/* Media Queries Section */
@media only screen and (max-width: 767px) {

}
